<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXCLUIR RESERVA</title>
    <style>
        .reserva {
            font-weight: bold;
            color: red;
        }
        body {
            font-family: Arial, sans-serif;
            font-size: 20px;
      }
    </style>
</head>
<body>
    <h1>Excluir Reserva</h1>
    <p>Tem certeza de que deseja excluir a reserva de {{ reserva.nome_cliente }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Excluir</button>
    </form>
</body>
</html>