<!DOCTYPE html>
<html lang="pt_br">
<head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAZER RESERVA</title>
    <style>
      body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Fazer Reserva</h1>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form method="post" id="reservasform">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">SALVAR RESERVA</button>
      <br>
      <br>
      <button type="button" onclick="reloadPageWithoutFormData();">LIMPAR FORMULARIO RESERVA</button>
      <br>
      <br>
      <a href="{% url 'menu' %}" class="btn btn-primary">Voltar ao Menu</a>
    </form>
    <script>
      function reloadPageWithoutFormData() {
        // Limpa os campos do formulário
        document.getElementById('reservasform').reset();
        // Recarrega a página sem manter o histórico de envio do formulário
        window.location.replace(window.location.href);
      }
    </script>
</body>
</html>
