<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Reservas</title>
</head>
<body>
    <h1>Menu Programa Reservas</h1>
    <ul>
        <br>
        <h2><a href="{% url 'consultar_reservas' %}">Consultar Reserva</a></h2>
        <br>
        <h2><a href="{% url 'fazer_reservas' %}">Fazer Reserva</a></h2>
        <br>
        <h2><a href="{% url 'exibir_reservas' %}">Exibir Reservas</a></h2>
    </ul>
</body>
</html>
